<!-- Add your content of header -->
<div class="background-color-layer"></div>
<main class="content-wrapper">
    <header class="white-text-container section-container">
        <div class="text-center text-white">
            <h1>I am Divyanshu Upadhyay</h1>
            <p>Full stack Developer </p>
            <p>
                <a target = "_blank" class="fa-icon fa-icon-2x" href="https://www.facebook.com/divyanshu.upadhyay.79" title="">
                    <i class="fa fa-facebook"></i>
                </a>
                <a target = "_blank" class="fa-icon fa-icon-2x" href="https://twitter.com/Divyanshu_es" title="">
                    <i class="fa fa-twitter"></i>
                </a>
                <a target = "_blank" class="fa-icon fa-icon-2x" href="https://github.com/DIVYANSHU-INDIA" title="">
                    <i class="fa fa-github"></i>
                </a>
                <a  target = "_blank" class="fa-icon fa-icon-2x" href="https://www.linkedin.com/in/divyanshu-india/" title="">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a  target = "_blank" class="fa-icon fa-icon-2x" href="https://www.instagram.com/div_yansh_u/" title="">
                    <i class="fa fa-instagram"></i>
                </a>
            </p>
        </div>
    </header>



    <!-- Add your site or app content here -->

    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <div class="card">
                    <div class="card-block">
                        <h2>About me</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <p><img src="../../assets/images/img-01.jpg" class="img-responsive" alt=""></p>
                            </div>
                            <div class="col-md-8">

                                <p>Hi, I am Divyanshu Upadhyay, </p><p>A full stack developer with a vast array of knowledge in frontend and backend of languages like java, spring , spring-boot , maven , angular typescript , mongodb, SQL</p>
                                <p> Apart from this I'd like to spend my free time playing musical instruments , specifically guitar . I fondly believe in art of music . I excelled at most of my many and varied hobbies including reading novels, books .</p>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <h2>Projects</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <img src="./assets/images/img-02.png" class="img-responsive" alt="">
                                <h3 class="h5">PollutionCheck App</h3>
                                <p>June 2022</p>
                            </div>
                           
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <h2>Work</h2>
                        <div class="work-experience">
                            <small class="date">2022-present</small>
                            <h3 class="h5 date-title">Intern - <a href="http://en.orson.io"
                                    title="Create professionnal website">Ericsson</a></h3>


                            <p>Wroking as a Intern in the BSS Department of ericsson fro project T-Mobile it an offshore project which is focused on developing catalogue</p>
                        </div>

                        
                    </div>
                </div>


                <div class="card">
                    <div class="card-block">
                        <h2>Education</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="education-experience">
                                    <small class="date">2018-2022</small>
                                    <h3 class="h5 date-title">B.tech in ECE</h3>
                                    <p>MMM University of Technology</p>
                                </div>

                            </div>
                            <div class="col-md-4">
                                <div class="education-experience">
                                    <small class="date">2016-2017</small>
                                    <h3 class="h5 date-title">+2 Certificate</h3>
                                    <p>CBSE</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="education-experience">
                                    <small class="date">2022</small>
                                    <h3 class="h5 date-title">JAVA FSD Course</h3>
                                    <p>Stackroute</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-block">
                        <h2>Language</h2>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="language-experience">
                                    <h3 class="h5">English <small>Bilingual</small></h3>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="language-experience">
                                    <h3 class="h5">Hindi <small>Fluent</small></h3>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

                
                        </div>
                    </div>
                </div>

</main>
<footer class="footer-container white-text-container text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <p><img src="./assets/images/mashup-icon.svg" alt=""></p>

                <p>©All right reserved.</p>
                
            </div>
        </div>
    </div>
</footer>


