

    <div class="content max-width-1 m-auto">
        <div class="content-left">
            <h1>
                Haven For Clashers
            </h1>
            <p>
                This is a Website which will let you submit your Clash of Clans Attack Strategy which upon approval will
                be uploaded as an Article on This Platform and you can get a good amount of Reach from here.
            </p>
        </div>
        <div class="content-right">
            <img src="../../assets/home.svg.svg" alt="home">
        </div>
    </div>
